<table class="table">
    <tbody>
    <tr *ngFor="let booking of bookings">
        <td><label>
            <input type="checkbox"
                          (change)="selectionChanged.emit({booking: booking, selected: $any($event.currentTarget).checked})">
            AWB {{booking.awbNumber}}
        </label></td>
        <td>{{booking.pieces}} PC / {{booking.weight}}kg</td>
        <td>{{booking.routeStations.join('-')}}</td>
    </tr>
    </tbody>
</table>
<span *ngIf="!bookings" class="spinner-border"></span>
