<table class="table">
    <thead>
    <tr>
        <th>Flight</th>
        <th>Dep</th>
        <th>Arr</th>
        <th>Time left</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of flights">
        <td>{{flight.flight.iataNumber}}</td>
        <td>{{flight.departureTime}}</td>
        <td>{{flight.arrivalTime}}</td>
        <td>
            <app-time-left [value]="flight.timeLeft"></app-time-left>
            <span>{{(flight.timeLeft/60).toFixed(0)}}h {{flight.timeLeft%60}}m</span>
        </td>
        <td><button class="btn btn-danger" (click)="rebookingComplete.emit()">Rebook</button></td>
    </tr>
    </tbody>
</table>
<span *ngIf="!flights" class="spinner-border"></span>
