.table {
  margin-top: 26px;
  border-top-width: 0;

  > thead {
    background-color: #8D99AE;

    > tr:first-child {
      > th {
        &:first-child {
          border-top-left-radius: 25px;
          width: 40px;
        }

        &:last-child {
          border-top-right-radius: 25px;
          width: 140px;
        }
      }
    }

    th {
      border-top-width: 0;
      border-bottom-width: 0;
      height: 70px;
      vertical-align: middle;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  td {
    border-width: 0;
    font-size: 14px;
    vertical-align: middle;

    .triangle {
      transform: rotate(90deg);
      cursor: pointer;
    }

    &.flight {
      font-weight: 600;

      a {
        display: block;
        color: #EF233C;
      }
    }

    &.station {
      font-weight: bold;
    }

    .sub {
      color: #707070;
      font-weight: normal;
      display: block;
    }
  }

  tr.odd {
    background-color: #FFF;
  }

  tr.even {
    background-color: #F7F5F5;
  }
}

tr.booking {
  > td:nth-child(1) {
    > div:nth-child(1) {
      font-weight: bold;
    }

    > div:nth-child(2) {
      color: #707070;
    }
  }
}

tr.expanded .triangle {
  transform: rotate(180deg) !important;
}

.spinner-border {
  color: #EF233C;
  width: 16px;
  height: 16px;
}
