<div class="controls">
    <button class="btn btn-primary" (click)="onSwitchToMapView.emit()">Switch to map view</button>
</div>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Flight</th>
        <th>Origin</th>
        <th>Dest</th>
        <th>Time left</th>
        <th>Analysis</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!flights" class="odd"><td colspan="7"><span class="spinner-border" style="width:40px;height:40px"></span></td></tr>
    <ng-container *ngFor="let flight of flights; index as i">
        <tr [className]="i%2 == 0 ? 'odd' : 'even'" [class.expanded]="flight===expandedRow">
            <td>
                <img *ngIf="flight!==expandedRow || expandedRowBookings" class="triangle" src="../../../../assets/play1.svg"
                     [alt]="flight===expandedRow ? 'Close' : 'Expand'"
                     (click)="flight===expandedRow ? closeRow() : expandRow(flight)"
                />
                <div *ngIf="flight===expandedRow && !expandedRowBookings" class="spinner-border" role="status"></div>
            </td>
            <td class="flight">
                {{flight.flightNumber}}/{{flight.departureDate}}
                <a *ngIf="flight!==expandedRow" href="#" (click)="$event.preventDefault();expandRow(flight);">View shipments</a>
                <a *ngIf="flight===expandedRow" href="#" (click)="$event.preventDefault();closeRow();">Close</a>
            </td>
            <td class="station">
                {{flight.origin}}
                <img *ngIf="flight?.weatherAtOrigin?.icon" src="http://openweathermap.org/img/wn/{{flight.weatherAtOrigin.icon}}.png" width="30"/>
                <span class="sub">Dep {{flight.departureTime}}</span>
            </td>
            <td class="station">
                {{flight.destination}}
                <img *ngIf="flight?.weatherAtOrigin?.icon" src="http://openweathermap.org/img/wn/{{flight.weatherAtDestination.icon}}.png" width="30"/>
                <span class="sub">Arr {{flight.arrivalTime}}</span>
            </td>
            <td>
                <ng-container *ngIf="flight.status !== 'CANCELLED'">
                    <app-time-left [value]="flight.timeLeft"></app-time-left>
                    <span class="sub">{{flight.timeLeftFmt}}</span>
                </ng-container>
            </td>
            <td class="analysis">
                <app-probability-of-problem *ngIf="flight.status !== 'CANCELLED'" [value]="flight.probabilityOfProblem"></app-probability-of-problem>
                <span *ngIf="flight.status === 'CANCELLED'" class="sub">Flight is cancelled</span>
            </td>
            <td>
                <ng-container [ngSwitch]="flight.status">
                    <ng-container *ngSwitchCase="'CANCELLED'">System rebooked</ng-container>
                    <ng-container *ngSwitchCase="'SCHEDULED'">
                        <button class="btn btn-sm btn-danger" (click)="rebookFlight(flight)">Rebook</button>
                    </ng-container>
                </ng-container>
            </td>
        </tr>
        <ng-container *ngIf="expandedRow === flight">
            <tr *ngFor="let booking of expandedRowBookings" class="booking">
                <td></td>
                <td>
                    <div>{{booking.awbNumber}}</div>
                    <div>{{booking.pieces}}pc / {{booking.weight}}kg</div>
                </td>
                <td class="station">
                    <div>{{booking.routeStations[0]}}</div>
                </td>
                <td class="station">
                    <div>{{booking.routeStations[1]}}</div>
                </td>
                <td>{{booking.status}}</td>
                <td>&nbsp;</td>
                <td>
                    <button *ngIf="flight.status==='SCHEDULED'" class="btn btn-sm btn-danger" (click)="rebookFlight(flight, booking)">Rebook</button>
                </td>
            </tr>
        </ng-container>
    </ng-container>
    </tbody>
</table>
