:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row:not(:last-child) {
  margin-bottom: 32px;
}

.row:last-child {
  flex: 1;
}

.chart {
  background-color: #F1FAEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  > div:last-child {
    flex: 1;
    min-height: 300px;
  }
}

canvas {
  width: 100%;
}
