<div class="row">
    <div class="col-md-4">
        <app-info-box header="Flight Cancellations" value="12" color="1" link="/cancellations"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Current Flight Delays" value="18" color="2"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Weather warnings" value="6" color="1"></app-info-box>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-info-box header="Bookings not yet arrived" value="56" color="1"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Unresolved issues" value="2" color="1"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Flown as planned" value="54" color="1"></app-info-box>
    </div>
</div>
<div class="row">
    <div class="col-md-12 chart">
        <div>
            <h3>Flight success average</h3>
        </div>
        <div #chartWrap>
            <canvas *ngIf="height" baseChart
                    [height]="height"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [legend]="true"
                    chartType="line">
            </canvas>
        </div>
    </div>
</div>
