.spinner-border {
  animation: none;
  width: 55px;
  height: 55px;
  border-width: 6px;

  > span {
    color: #3C3C3C;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    top: 4px;
    left: 10px;
    white-space: nowrap;

    > span {
      color: #707070;
      font-size: 14px;
      font-weight: normal;
      position: relative;
      top: -3px;
    }
  }
}
