<div #mapWrapper>
    <div class="controls">
        <button class="btn btn-primary" (click)="onSwitchToTableView.emit()">Switch to table view</button>
    </div>
    <agm-map [style.height.px]="mapWrapper.offsetHeight"
             [fitBounds]="true"
             (mapReady)="mapReady($event)">
        <agm-marker *ngFor="let station of stations"
                    [label]="station.name"
                    [latitude]="station.latitude"
                    [longitude]="station.longitude"
                    [agmFitBounds]="true"></agm-marker>
        <agm-marker *ngFor="let flight of flights"
                    [label]="flight.flightNumber"
                    [latitude]="flight.latitude"
                    [longitude]="flight.longitude"
                    [iconUrl]="{url: '../../../assets/aircraft.svg',scaledSize:{width: 24, height: 24},labelOrigin: {x:12, y: 30}}"
                    [agmFitBounds]="true"
                    (markerClick)="onFlightMarkerClick(flightMarkerInfoWindow, flight.flightNumber)">
            <agm-info-window [disableAutoPan]="false" #flightMarkerInfoWindow>
                <div *ngFor="let b of flightMarkerBookings">
                    {{b.awbNumber}} {{b.pieces}}pc / {{b.weight}}kg
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
