:host {
  flex: 1;
  min-height: 200px;

  > div {
    height: 100%;
    overflow: hidden;
    position: relative;

    .controls {
      position: absolute;
      z-index: 1;
      padding-left: 44px;
      padding-top: 27px;
      .btn-primary {
        background-color: #EDF2F4;
        color: black;
        border-width: 0;
      }
    }
  }
}
