<nav>
    <div class="user">
        <div class="avatar"></div>
        <div class="logged-in-as">
            LOGGED IN AS: THOMAS<br/>
            Customer Success Manager
        </div>
    </div>
    <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/statistics">Statistics</a></li>
        <li><a routerLink="/dashboard">Customers</a></li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
