:host {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;

  nav {
    background-color: #457B9D;
    width: 300px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    .user {
      padding-top: 38px;
      padding-bottom: 24px;
      border-top-right-radius: 25px;
      background-color: #1D3557;
      color: #FFFFFF;
      text-transform: uppercase;

      .avatar {
        margin-left: auto;
        margin-right: auto;
        width: 136px;
        height: 136px;
        background: url('../assets/avatar.jpg') no-repeat;
        background-size: cover;
        border: 3px solid #457B9D;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .logged-in-as {
        margin-left: 30px;
        font-weight: 600;
        font-size: 14px;
      }
    }

    ul {
      list-style-type: none;
      margin-top: 27px;

      li {
        font: normal normal 600 18px/31px Open Sans;
        text-transform: uppercase;
        margin-top: 34px;
        background-repeat: no-repeat;
        padding-left: 70px;
        line-height: 1;
        background-size: contain;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

        &:nth-child(1) {
          background-image: url('../assets/home_outline.svg');
        }

        &:nth-child(2) {
          background-image: url('../assets/barchart_baseline.svg');
        }

        &:nth-child(3) {
          background-image: url('../assets/peoplealt_outline.svg');
        }
      }
    }
  }

  main {
    flex-grow: 1;
    padding: 32px;
    overflow-y: auto;
  }
}
