::ng-deep ngb-progressbar {
  &.color-0 {
    .progress-bar {
      background-color: #A8DADC;
    }
  }

  &.color-33 {
    .progress-bar {
      background-color: #E6A339;
    }
  }

  &.color-66 {
    .progress-bar {
      background-color: #E63946;
    }
  }
}
