<div class="modal-header">
    <h4 class="modal-title" *ngIf="step !== 'confirmation'">Rebooking {{flight?.flightNumber}} shipments</h4>
    <h4 class="modal-title" *ngIf="step === 'confirmation'">Success</h4>
</div>
<div class="modal-body">
    <app-rebooking-list *ngIf="step==='bookings'"
                        [bookings]="bookings"
                        (selectionChanged)="selectionChanged($event)"></app-rebooking-list>
    <app-rebooking-flight *ngIf="step==='flight'"
                          [origin]="flight?.origin"
                          [destination]="flight?.destination"
                          (rebookingComplete)="step='confirmation'"></app-rebooking-flight>
    <app-rebooking-confirmation *ngIf="step==='confirmation'"></app-rebooking-confirmation>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" *ngIf="step !== 'confirmation'" (click)="activeModal.close()">Cancel</button>
    <button class="btn btn-primary" *ngIf="step === 'confirmation'" (click)="activeModal.close()">Close</button>
    <button class="btn btn-danger" *ngIf="step==='bookings'" [disabled]="!bookings || !selectedBookings.length" (click)="step='flight'">Continue</button>
</div>
