<h1>
    <span>Flight cancellations</span>
    <a routerLink="/statistics">Back to all stats</a>
</h1>
<div class="row">
    <div class="col-md-6 chart">
        <div>
            <h3>Average day of the week cancellations per time period</h3>
        </div>
        <div>
            <canvas baseChart
                    [height]="'300px'"
                    [data]="chart1Data"
                    [labels]="chart1Labels"
                    [legend]="false"
                    chartType="bar">
            </canvas>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 chart">
        <div>
            <h3>Cancellations per week</h3>
        </div>
        <div>
            <canvas baseChart
                    [height]="'300px'"
                    [data]="chart2Data"
                    [labels]="chart2Labels"
                    [options]="chart2Options"
                    [legend]="true"
                    chartType="doughnut">
            </canvas>
        </div>
    </div>
</div>
