h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 85px;

  span {
    font-size: 40px;
  }

  a {
    font-size: 18px;
    color: #EF233C;
  }

  a:before {
    content: '<';
    color: black;
    font-size: 40px;
    top: 8px;
    margin-right: 5px;
    position: relative;
  }
}

.chart {
  background-color: #F1FAEE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  > div:last-child {
    flex: 1;
    min-height: 300px;
  }

  canvas {
    width: 100%;
    height: 300px;
  }
}
