/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

* {
  font-family: Open Sans, sans-serif;
}

.btn {
  text-transform: uppercase;
  /*border-radius: 25px/50%;*/
}

a, a:hover, a:visited {
  color: #C19537;
  text-decoration: none;
}
