<div class="row">
    <div class="col-md-4">
        <app-info-box header="Flight Cancellations" value="12" color="1" link="/cancellations"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Current Flight Delays" value="18" color="2"></app-info-box>
    </div>
    <div class="col-md-4">
        <app-info-box header="Weather warnings" value="6" color="1"></app-info-box>
    </div>
</div>
<app-shipment-map *ngIf="mode === 'map'" (onSwitchToTableView)="mode='table'"></app-shipment-map>
<app-shipment-table *ngIf="mode === 'table'" (onSwitchToMapView)="mode='map'"></app-shipment-table>
