<div class="card color-{{color}}">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <span>{{value}}</span>
        <a href="#" [routerLink]="link">View</a>
    </div>
</div>
