.card {
  border-width: 0;
  border-radius: 25px;
  color: #FFF;

  .card-header {
    border-width: 0;
    border-radius: 25px 25px 0 0;
    background-color: transparent;
    font: normal normal 600 18px/33px Open Sans;
  }

  .card-body {
    justify-content: space-between;
    display: flex;
    line-height: 1;

    span {
      font-weight: 600;
      font-size: 38px;
    }

    a {
      color: #EDF2F4;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      float: right;
      align-self: flex-end;
    }
  }

  &.color-1 {
    background-color: #457B9D;
  }

  &.color-2 {
    background-color: #A8DADC;
  }
}
